{% load common_filters %}
<p>Dear {{ report.user.get_full_name }},</p>
<p>Here's the report that you requested:</p>
<table border="1">
<tr>
    <th>Date</th>
    <th>Time</th>
    <th>E-mail</th>
    <th>Action</th>
    <th>Status</th>
    <th>More&hellip;</th>
</tr>
{% for appointment in appointments %}
<tr>
<td>{{ appointment.date|date:"D, d M Y" }}</td>
<td>{{ appointment.time|time:"H:i" }}</td>
<td>{{ appointment.user.email }}</td>
<td>{{ appointment.action.name }}</td>
<td>{{ appointment.status }}</td>
<td><a href="{{ appointment|changeform }}" title="More information about this appointment">More&nbsp;&rarr;</a></td>
</tr>
{% empty %}
<tr><td colspan="6">Looks like a quite day at the office. No appointments here!</td></tr>
{% endfor %}
</table>
<p>You can also log into the <a href="{{ 'admin:index'|absurl }}" title="Appointments manager">appointments manager</a> for a list of scheduled appointments</p>
<p>Yours kindly,</p>
<p>&nbsp;</p>
<p>The appointments system</p>