body {
    background-color: rgb(243, 245, 246);
    color: #000;
    line-height: 1.5;
}

.container {
    background-color: white;
    box-shadow: 0px 0px 10px #333;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 530px !important;
}

header { margin-bottom: 20px; }
footer { margin-top: 20px; }

tbody .btn-default {
    border: 1px solid rgb(92, 184, 92); /* #5cb85c */
    background-color: rgba(60, 118, 61, 0.3);
}

tbody .btn-default.btn-booked {
    border: 1px solid rgb(217, 83, 79); /* #d9534f */
    background-color: rgba(217, 83, 79, 0.3);
}