{% extends 'angular.html' %}

{% block header %}
<h1>Schedule an appointment</h1>
<ul>
    <li><a href="{% url 'reminder' %}" title="Remind me of my upcoming appointments">Remind me of my upcoming appointments&nbsp;&rarr;</a></li>
</ul>
{% endblock %}

{% block content%}
<form ng-controller="TimeslotCtrl as timeslots">
            
    <legend></legend>
    <p><small>Fields denoted with * are mandatory.</small></p>

    <section class="row">
        <aside class="col-xs-3">
            <label for="country">Country</label>
        </aside>
        <section class="col-xs-9">
            <select name="country" id="country" ng-model="country" ng-options="country.fields.name for country in countries" ng-change="countryChanged()">
                <option value="">-- select country --</option>
            </select>
        </section>
    </section>

    <section class="row">
        <aside class="col-xs-3">
            <label for="city">City</label>
        </aside>
        <section class="col-xs-9">
            <select name="city" id="city" ng-model="city" ng-options="city.fields.name for city in cities" ng-change="cityChanged()">
                <option value="">-- select city --</option>
            </select>
        </section>
    </section>

    <section class="row">
        <aside class="col-xs-3">
            <label for="action">Action</label>
        </aside>
        <section class="col-xs-9">
            <select name="action" id="action" ng-model="action" ng-options="action.fields.name for action in actions">
                <option value="">-- select action --</option>
            </select>
        </section>
    </section>
    
    <section class="row">
        <aside class="col-xs-3">
            <label for="date">Date</label>
        </aside>
        <section class="col-xs-9">
            <div style="display:inline-block;">
                <datepicker name="action" id="action" ng-model="date" ng-change="dateChanged()" min-date="mindate" max-date="maxdate" max-mode="day" date-disabled="disabled(date, mode)" show-weeks="true" class="well well-sm"></datepicker>
            </div>
        </section>
    </section>
    
    <section class="row">
        <aside class="col-xs-3">
            <label for="time">Time:</label>
        </aside>
        <section class="col-xs-9">
            <select name="time" id="time" ng-model="time" ng-options="timeslot for timeslot in timeslots">
                <option value="">-- select timeslot --</option>
            </select>
        </section>
    </section>
    
    <section class="row">
        <aside class="col-xs-3">
        </aside>
        <section class="col-xs-9">
            <input type="submit" />
        </section>
    </section>
    
</form>
{% endblock %}