{% extends 'common.html' %}
{% load i18n staticfiles %}

{% block ng_app %} ng-app="timeslots"{% endblock %}

{% block head %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/moment-timezone-with-data-2010-2020.min.js' %}"></script>    
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-moment.min.js' %}"></script>
    <script src="{% static 'js/ui-bootstrap-tpls-0.11.2.js' %}"></script>
    <script src="{% static 'js/timeslots.js' %}"></script>
{% endblock %}

{% block content%}
<form name="form" role="form" ng-controller="TimeslotCtrl as timeslots" ng-init="country='china'; countryChanged();" novalidate class="form-horizontal">
            
    <legend></legend>
    <p class="text-right"><small>Fields denoted with <span class="required">*</span> are required.</small></p>

    {% csrf_token %}

    <section class="form-group" ng-class="{'has-success has-feedback': form.first_name.$valid && form.first_name.$dirty}">
        <label class="col-xs-4 control-label" for="first_name">First name <span class="required">*</span></label>
        <div class="col-xs-8">
            <input name="first_name" id="first_name" class="form-control" ng-model="appointment.first_name" required />
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.first_name.$valid && form.first_name.$dirty"></span>
        </div>
    </section>
    
    <section class="form-group" ng-class="{'has-success has-feedback': form.last_name.$valid && form.last_name.$dirty}">
        <label class="col-xs-4 control-label" for="last_name">Last name <span class="required">*</span></label>
        <div class="col-xs-8">
            <input name="last_name" id="last_name" class="form-control" ng-model="appointment.last_name" required />
            <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.last_name.$valid && form.last_name.$dirty"></span>
        </div>
    </section>

    <section class="form-group" ng-class="{'has-success has-feedback': form.email.$valid && form.email.$dirty, 'has-error has-feedback': form.email.$invalid && form.email.$dirty}">
            <label class="col-xs-4 control-label" for="country">E-mail <span class="required">*</span></label>
            <div class="col-xs-8">
                <input name="email" id="email" type="email" class="form-control" ng-model="appointment.email" required />
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.email.$valid && form.email.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="form.email.$invalid && form.email.$dirty"></span>
            </div>
    </section>

    <section class="form-group">
        <label class="col-xs-4 control-label" for="country">Country <span class="required">*</span></label>
        <div class="col-xs-8">
            <select name="country" id="country" class="form-control" ng-model="country" ng-options="country.fields.slug as country.fields.name for country in countries" ng-change="countryChanged()" required disabled>
                <option value="">-- select country --</option>
            </select>
        </div>
    </section>

    <section class="form-group">
        <label class="col-xs-4 control-label" for="city">City <span class="required">*</span></label>
        <div class="col-xs-8">
            <select name="city" id="city" class="form-control" ng-model="appointment.constraint" ng-options="city.fields.slug as city.fields.name for city in cities" ng-change="cityChanged()" required>
                <option value="">-- select city --</option>
            </select>
        </div>
    </section>
    
    <section class="form-group">
        <label class="col-xs-4 control-label" for="date">Date <span class="required">*</span></label>
        <div class="col-xs-8">
            <div style="display:inline-block;">
                <div datepicker name="action" id="action" ng-model="date" ng-change="dateChanged()" min-date="mindate" max-date="maxdate" max-mode="day" date-booked="booked(date)" date-disabled="disabled(date, mode)" show-weeks="true" required class="well well-sm"></div>
            </div>
        </div>
    </section>
    
    <section class="form-group">
        <label class="col-xs-4 control-label" for="time">Time <span class="required">*</span></label>
        <div class="col-xs-8">
            <select name="time" id="time" class="form-control" ng-model="appointment.time" ng-options="timeslot for timeslot in timeslots" required>
                <option value="">-- select timeslot --</option>
            </select>
        </div>
    </section>

    <section class="form-group">
        <label class="col-xs-4 control-label" for="action">Service <span class="required">*</span></label>
        <div class="col-xs-8">
            <select name="action" id="action" class="form-control" ng-model="appointment.action" ng-options="action.fields.slug as action.fields.name for action in actions" required>
                <option value="">-- select service --</option>
            </select>
        </div>
    </section>
    
    <section>
        <div class="col-xs-4"></div>
        <div class="col-xs-8">
            <h4>Additional information</h4>
            <p>Anything else that might be important ahead of your appointment.</p>
        </div>
    </section>

    <section class="form-group">
        <label class="col-xs-4 control-label" for="phone_number">Phone number</label>
        <div class="col-xs-8">
            <input name="phone_number" id="phone_number" class="form-control" ng-model="appointment.phone_number" />
        </div>
    </section>
    
    <section class="form-group">
        <label class="col-xs-4 control-label" for="mobile_number">Mobile number</label>
        <div class="col-xs-8">
            <input name="mobile_number" id="mobile_number" class="form-control" ng-model="appointment.mobile_number" />
        </div>
    </section>
    
    <section class="form-group">
        <label class="col-xs-4 control-label" for="comment">Comment</label>
        <div class="col-xs-8">
            <textarea name="comment" id="comment" class="form-control" ng-model="appointment.comment"></textarea>
        </div>
    </section>
    
    <section class="form-group">
        <aside class="col-xs-4"></aside>
        <div class="col-xs-8">
            <button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="!can_submit()">Submit</button>
            <button type="button" class="btn btn-danger" ng-hide="true" disabled>Reset</button>
            <p class="invalid text-danger" ng-hide="form.$valid"><small>Please check that you've entered all required information.</small></p>
            <p class="invalid text-danger" ng-show="locked"><small>Please wait...</small></p>
        </div>
    </section>
    
</form>
{% endblock %}