{% load i18n %}
{% load widget_tweaks %}
<form action="" method="post" class="form_ll">
    {% csrf_token %}
    <p class="mandatory">{% trans "Mandatory fields are denoted with a *" %}</p>

    <fieldset>
        <legend>{{ legend }}</legend>
        <ol>
            {% for field in form %}
            <li>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field|widget_type in 'textinput, emailinput, dateinput' %}
                    {{ field|add_class:"text"|add_error_class:"err" }}
                {% else %}
                    {{ field|add_error_class:"err" }}
                {% endif %}

                {% if field|widget_type in 'checkboxinput' %}
                {{ field.help_text }}
                {% elif field.help_text or field.errors %}
                <p class="password">
                {% for error in field.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ field.help_text }}
                </p>
                {% endif %}
                
                {% if field|widget_type in 'checkboxinput' and field.errors %}
                <p class="password">
                {% for error in field.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                </p>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    </fieldset>

    <p><input type="submit" name="submit" value="{{ submit }}" class="submit" /></p>
</form>
