{% extends 'common.html' %}

{% block header %}
<h3>Request a reminder</h3>
<p>Receive an e-mail reminder of your future appointments.</p>
{% include 'messages.html' %}
{% endblock %}

{% block content%}
<form class="form-horizontal" action="{% url 'reminder' %}" method="post">

    <legend></legend>
    <p class="text-right"><small>Fields denoted with <span class="required">*</span> are mandatory.</small></p>

    {% csrf_token %}

    {% with field=form.email %}
    <section class="form-group">
        <label class="col-xs-4 control-label" for="email">{{ field.label }}</label>
        <div class="col-xs-8">
             <input name="{{ field.html_name }}" id="email" type="email" class="form-control" required />
        </div>
    </section>
    {% endwith %}
    
    <section class="form-group">
        <aside class="col-xs-4"></aside>
        <div class="col-xs-8">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </section>
    
</form>
{% endblock %}